.category-card {
position: relative;
display: block;
overflow: hidden;
border-radius: 8px;
}

.category-card img {
width: 100%;
height: 220px;
object-fit: cover;
transition: transform 0.4s;
}

.category-card:hover img {
transform: scale(1.08);
}

.category-overlay {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 15px;
background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.category-overlay h4 {
margin: 0;
font-size: 20px;
color: #FFD333;
font-weight: 300;
}

.category-overlay span {
font-size: 14px;
color: #ffffff;
opacity: 0.9;
}
.product-item{
    position:relative;
    overflow:hidden;
    background:#fff;
}

.product-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);

    display:flex;
    align-items:center;
    justify-content:center;

    opacity:0;
    transition:0.4s;
    z-index:2;
}

.product-item:hover .product-overlay{
    opacity:1;
}

.product-overlay .btn{
    background:#444;
    color:#fff;
    border:none;
}